:root {
    --main_bg_color: #122c91;
    --div_bg_color: #fefcbf;
    --h1_bg_color: #7DF9FF;
    --form_bg_color: #7DF9FF;
}

body {
    background-color: beige;
}

div {
    background-color: var(--div_bg_color);
    border: 1px solid var(--main_bg_color);
    border-radius: 10px;
    display: grid;
    grid-template-columns:1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ".      para   para   para   .     "
        ".      .      form   .      .     "
        "hr     hr     hr     hr     hr    "
        "footer footer footer footer footer";
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--h1_bg_color);
    border: 1px solid var(--main_bg_color);
    border-radius: 10px;
    grid-area: header;
    text-align: center;
    margin: 1%;
    padding: 0.1em;

}

p {
    background-color: var(--form_bg_color);
    border: 1px double var(--main_bg_color);
    border-radius: 8px;
    text-align: center;
    grid-area: para;
    margin: 1%;
    padding: 0.2em;
}

form {
    background-color: var(--form_bg_color);
    border: 1px solid var(--main_bg_color);
    border-radius: 8px;
    grid-area: form;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "input input"
        "out1  out1"
        "hr1 hr1"
        "out2 out2"
        "hr2 hr2"
        "out3 out3";
    margin: 1%;
    padding: 0.2em;

}

input {
    border: 1px solid var(--main_bg_color);
    border-radius: 5px;
    grid-area: input;
    margin: 1%;
}

.out {
    background-color: var(--form_bg_color);
    border: 1px solid var(--form_bg_color);
    border-radius: 8px;
    color: black;
    font-size: medium;
    margin: 1%;
}

#out1 {
    grid-area: out1;
}

#out2 {
    grid-area: out2;
}

#out3 {
    grid-area: out3;
}

#hr1 {
    grid-area: hr1;
    border: none;
    border-top: 1px solid;
    margin: 1%;
}

#hr2 {
    grid-area: hr2;
    border: none;
    border-top: 1px solid;
    margin: 1%;
}

#footerHr {
    grid-area: hr;
    border: none;
    border-top: 3px double;
    margin: 1%;
}

footer {
    background-color: var(--h1_bg_color);
    border: 1px solid var(--main_bg_color);
    border-radius: 8px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    grid-area: footer;
    margin: 0% 1% 1% 1%;
    padding: 0.3em;
}
